version: '{branch}.{build}'
skip_tags: true

image:
- Ubuntu2204
- macos
- Visual Studio 2019

matrix:
  exclude:
    - platform: x86
      image: macOS
    - platform: x86
      image: Ubuntu2204

platform:
  - x64
  - x86
  
configuration: Release

branches:
  only:
    - main

build:
  verbosity: detailed

environment:
  artifactName: $(APPVEYOR_PROJECT_NAME)-$(APPVEYOR_REPO_COMMIT)-$(PLATFORM)
  buildConfig: $(CONFIGURATION)
  buildPlatform: $(PLATFORM)
  
for:
  -
    matrix:
      only:
        - image: Ubuntu2204

    install:
     - git submodule update --init --recursive
     - export PATH="$HOME/Qt/5.15.2/gcc_64/bin:$PATH"

    before_build:
      - cmake --version

    build_script:
      - ./build_qt5.sh

    after_build:
       - ls
       - cd build_qt5
       - tar -czvf ../PE-bear.tar.gz bin/PE-bear
       - cd ..

    artifacts:
       - path: PE-bear.tar.gz
       
  -
    matrix:
      only:
        - image: macOS

    
    install:
     - git submodule update --init --recursive
     - export PATH="$HOME/Qt/5.15.2/clang_64/bin:$PATH"
     - export LDFLAGS="-L/usr/local/opt/qt/lib"
     - export CPPFLAGS="-I/usr/local/opt/qt/include"
     - export PKG_CONFIG_PATH="/usr/local/opt/qt/lib/pkgconfig"

    before_build:
      - cmake --version
      - qmake -v

    build_script:
      - ./macos_wrap.sh macdeployqt

    after_build:
       - ls

    artifacts:
       - path: PE-bear.app.zip
       
  -
    matrix:
      only:
        - image: Visual Studio 2019
    
    install:
     - git submodule update --init --recursive
     - if [%buildPlatform%]==[x64] (set QT_VER=6)
     - if [%buildPlatform%]==[x64] (set QT=C:\Qt\6.7\msvc2019_64)
     - if [%buildPlatform%]==[x86] (set QT_VER=5) 
     - if [%buildPlatform%]==[x86] (set QT=C:\Qt\5.15.2\msvc2019)
     - set QT_DIR=%QT%
     - set PATH=%PATH%;%QT%\bin;%QT%\lib\cmake
     
    before_build:
     - mkdir build
     - cd build
     
    build_script:
      - if [%buildPlatform%]==[x64] (cmake .. -A x64 -DCOMMIT_HASH:STRING="\""%APPVEYOR_REPO_COMMIT%"\"" )
      - if [%buildPlatform%]==[x86] (cmake .. -A Win32 -DCOMMIT_HASH:STRING="\""%APPVEYOR_REPO_COMMIT%"\"" )
      - cmake --build . --config %buildConfig%

    after_build:
     - mkdir %artifactName%
     - cp -r pe-bear/%buildConfig%/* %artifactName%
     - cp "%QT%\bin\Qt%QT_VER%Core.dll" %artifactName%
     - cp "%QT%\bin\Qt%QT_VER%Gui.dll" %artifactName%
     - cp "%QT%\bin\Qt%QT_VER%Widgets.dll" %artifactName%
     - mkdir %artifactName%\platforms
     - mkdir %artifactName%\styles
     - mkdir %artifactName%\imageformats
     - cp "%QT%\plugins\platforms\qwindows.dll" %artifactName%\platforms
     - cp "%QT%\plugins\imageformats\qico.dll" %artifactName%\imageformats
     - if [%QT_VER%]==[5] (cp "%QT%\plugins\styles\qwindowsvistastyle.dll" %artifactName%\styles)
     - if [%QT_VER%]==[6] (cp "%QT%\plugins\styles\qmodernwindowsstyle.dll" %artifactName%\styles)

    artifacts:
     - path: build\%artifactName%
     
